<div class="container">
    <div class="col grid justify-center align-center">
        <img src="img/person.jfif" alt="Orang 1" width="200" height="200"
            class="mx-auto rounded-full ring-4 ring-indigo-400">
        <h1 class="text-5xl text-center font-semibold text-teal-800">Galih Roswandi</h1>
        <p class="lead text-center text-2xl mt-2 font-medium text-sky-700">Web Developer | Web Designer</p>
    </div>
</div>