<h1>Halaman Index</h1>
<p>Welcome to site...</p>

<h2>Hallo, <%= nama %>
</h2>

<h3>Daftar Mahasiswa</h3>
<% if (mahasiswa.length < 1) { %>
    <p>Mahasiswa masih kosong...</p>
    <% }else{ %>
        <% mahasiswa.forEach(mhs=> { %>
            <ul>
                <li>Nama: <%= mhs.nama %>
                </li>
                <li>Email: <%= mhs.email %>
                </li>
            </ul>
            <% }) %>
                <% } %>